# Prerequisites
*.d

# Compiled Object files
*.elf
*.ko
*.lo
*.o
*.obj
*.slo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll
*.dylib
*.so
*.so.*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.a
*.la
*.lai
*.lib
*.lo

# Executables
*.app
*.exe
*.hex
*.i*86
*.out
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

link_dotfiles_from_previous_dir.sh
.clang-tidy
.clangd
.gersemirc
dummy_template/
clean_builds.sh
8_configure_file/
9_unit_testing_git_catch/
